<div class="loginBox">
	<!-- <div class="loginContent"> -->
	<div id="loginContent">IncrediP<span><i class="fa fa-question-circle"></i></span>ll
  	
  <div class="loginWith">
  <h3>Login with</h3>

 	<div class="loginSocialBtns">
 		<a href="/auth/facebook"><img src="images/fbBtn.png"></a>
 		<a href="/auth/twitter"><img src="images/twitterBtn.png"></a>
 		<a href="/auth/google"><img src="images/googleBtn.png"></a>
 		<a href="/auth/linkedin"><img src="images/linkedInBtn.png"></a>
 	</div>
 	</div>
 	</div>
</div>

