<div class="loginBox">
	<!-- <div class="loginContent"> -->
	<div id="loginLogo">IncrediP<span><i class="fa fa-question-circle"></i></span>ll
  	
  <div class="loginWith">
  <h3>Login with</h3>
</div>
 	<div class="fbBtn">
 		<a href="/auth/facebook"><img src="images/fbBtn.png"></a>
 	</div>
 	<!-- <div class="twitterBtn"> -->
 		<a href="/auth/twitter"><img src="images/twitterBtn.png"></a>
 <!-- 	</div> -->
 	<!-- <div class="googleBtn"> -->
 		<a href="/auth/google"><img src="images/googleBtn.png"></a>
 	<!-- </div> -->
 	</div>
</div>

