<!-- POLL QUESTION -->
<head>
    <meta property="og:title" content="{{singlePoll.question}}" />
  <!--   <meta property="og:description" content="{{page.description }}"/> -->
   <!--  <meta property="og:image" content="{{page.image}}"/> -->
</head>
<div id="pollQuestion" class="pollQuestion">
		<h1>{{singlePoll.question}}</h1>
	<div ng-hide="poll.userVoted">
		<br />
		<br />
		<!--  POLL OPTIONS -->
		<div id="optionBtn" ng-repeat="option in singlePoll.pollOptions">
			<!-- OPTION CHOSEN -->
			<button  class="btn btn-primary"  ng-click="vote(option)">{{option.text}}</button>
		</div>
		<div class="socialContainer">
                <div fb-like></div>
            <!-- <div class="col-xs-3">
                <div tweet="myModel.Name"></div>
            </div>
            <div class="col-xs-2">
                <div google-plus></div>
            </div>
            <div class="col-xs-3">
                <div pin-it="myModel.Name" pin-it-image="myModel.ImageUrl"></div>
            </div> -->
    </div>
	</div>
</div>
