<!-- POLL QUESTION -->
<title>{{singlePoll.question}}</title>
<div id="pollQuestion" class="pollQuestion">
		<h1>This is a poll question</h1>

	<p>{{singlePoll.question}}</p>
	<div ng-hide="poll.userVoted">
		<br />
		<br />
		<!--  POLL OPTIONS -->
		<div id="optionBtn" ng-repeat="option in singlePoll.pollOptions">
			<!-- OPTION CHOSEN -->
			<button  class="btn btn-primary"  ng-click="vote(option)">{{option.text}}</button>
		</div>
		<div class="socialContainer">
            <div class="col-xs-4">
                <div fb-like></div>
            </div>
            <!-- <div class="col-xs-3">
                <div tweet="myModel.Name"></div>
            </div>
            <div class="col-xs-2">
                <div google-plus></div>
            </div>
            <div class="col-xs-3">
                <div pin-it="myModel.Name" pin-it-image="myModel.ImageUrl"></div>
            </div> -->
    </div>
	</div>
</div>
