 <!-- PROFILE -->
    <form id="frmProfile" role="form">
         <h2>Profile</h2>

        <br />
        <div class="form-group">
            <label for="txtName">Name</label>
            <input type="text" class="form-control" id="txtName" placeholder="Name" name="name" />
        </div>
        <div class="form-group">
            <label for="ddlDino">Favorite Dinosaur</label>
            <select id="ddlDino" name="favoriteDinosaur" class="form-control">
                <option>None</option>
                <option>Pteranodon</option>
                <option>Lambeosaurus</option>
                <option>Stegosaurus</option>
                <option>Daspletosaurus</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <!-- / PROFILE -->